@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);

#test2{
    border-radius: 30px;
    background-color: rgba(98, 255, 0, 0.5);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
    margin-top: 20px;
    color:white;
}