/****** Object:  Table [dbo].[Accomodation]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accomodation](
	[Type] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[HotelID] [int] NOT NULL,
 CONSTRAINT [PK_Accomodation] PRIMARY KEY CLUSTERED 
(
	[Type] ASC,
	[HotelID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](max) NOT NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK__City__3214EC27C88ABE49] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](max) NOT NULL,
 CONSTRAINT [PK__Country__3214EC2778A30D49] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](max) NOT NULL,
	[Street] [varchar](max) NOT NULL,
	[ZipCode] [varchar](max) NOT NULL,
	[City] [varchar](max) NOT NULL,
	[Country] [varchar](max) NOT NULL,
	[Phone] [varchar](max) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Password] [varchar](max) NULL,
 CONSTRAINT [PK_Guests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[AverageRating] [float] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Pool] [bit] NOT NULL,
	[NightEntertainment] [bit] NOT NULL,
	[ChildClub] [bit] NOT NULL,
	[Restaurant] [bit] NOT NULL,
	[BeachDistance] [float] NOT NULL,
	[CentrumDistance] [float] NOT NULL,
	[CityID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[extraBedFee] [int] NULL,
	[Img] [varchar](max) NULL,
 CONSTRAINT [PK__Hotels__3214EC27B53D0023] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[x] [varchar](max) NOT NULL,
	[y] [varchar](max) NOT NULL,
	[HotelID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[DateCreated] [date] NOT NULL,
	[FlightID] [int] NULL,
	[HotelID] [int] NOT NULL,
	[GuestID] [int] NOT NULL,
	[FullName] [varchar](max) NULL,
	[Street] [varchar](max) NULL,
	[Zipcode] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[Phone] [varchar](max) NULL,
	[Email] [varchar](max) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK__Reservat__3214EC272D3F17D7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationsDetails]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationsDetails](
	[Adults] [int] NOT NULL,
	[Children] [int] NULL,
	[ExtraBed] [bit] NULL,
	[CustomerMessage] [varchar](max) NULL,
	[ReservationID] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ReservationsDetails_1] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservedRooms]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservedRooms](
	[ReservationID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[BookedRooms] [int] NOT NULL,
 CONSTRAINT [PK_ReservedRooms] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC,
	[RoomID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [float] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[HotelID] [int] NOT NULL,
	[GuestID] [int] NOT NULL,
	[CreationDate] [date] NULL,
 CONSTRAINT [PK__Reviews__3214EC270FAC312E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[HotelID] [int] NOT NULL,
	[NoOfRooms] [int] NOT NULL,
	[Img] [varchar](max) NULL,
 CONSTRAINT [PK__Rooms__3214EC27E2C831A8] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedHotels]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedHotels](
	[GuestID] [int] NOT NULL,
	[HotelID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC,
	[HotelID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 6/10/2021 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Accomodation] ([Type], [Price], [HotelID]) VALUES (N'All inclusive', 400, 2)
INSERT [dbo].[Accomodation] ([Type], [Price], [HotelID]) VALUES (N'All inclusive', 1000, 3)
INSERT [dbo].[Accomodation] ([Type], [Price], [HotelID]) VALUES (N'All inclusive', 1200, 4)
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [CityName], [CountryID]) VALUES (1, N'London', 1)
INSERT [dbo].[City] ([ID], [CityName], [CountryID]) VALUES (2, N'Berlin', 2)
INSERT [dbo].[City] ([ID], [CityName], [CountryID]) VALUES (3, N'Båstad', 3)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [CountryName]) VALUES (1, N'Great Britian')
INSERT [dbo].[Country] ([ID], [CountryName]) VALUES (2, N'Germany')
INSERT [dbo].[Country] ([ID], [CountryName]) VALUES (3, N'Sweden')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([ID], [FullName], [Street], [ZipCode], [City], [Country], [Phone], [Email], [Password]) VALUES (0, N'', N'', N'', N'', N'', N'', N'', N'$2a$11$A7ImDTAAUCSetsssSieGXewbOd.znBoRCf.4ISAd.KvpxJ6nYLF2.')
INSERT [dbo].[Guests] ([ID], [FullName], [Street], [ZipCode], [City], [Country], [Phone], [Email], [Password]) VALUES (1, N'Dolly Stammer', N'79788 Sunbrook Lane', N'9778', N'Bar-le-Duc', N'France', N'186 961 8981', N'dstammer0@slashdot.org', NULL)
INSERT [dbo].[Guests] ([ID], [FullName], [Street], [ZipCode], [City], [Country], [Phone], [Email], [Password]) VALUES (2, N'Artemis Anselm', N'0357 Caliangt Terrace', N'1554', N'Milwaukee', N'United States', N'414 158 5281', N'aanselm1@slideshare.net', NULL)
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([ID], [Name], [AverageRating], [Description], [Pool], [NightEntertainment], [ChildClub], [Restaurant], [BeachDistance], [CentrumDistance], [CityID], [CountryID], [extraBedFee], [Img]) VALUES (4, N'Hotel Riviera Strand', 3.5, N'This accommodation is located on the island of Bjärehalf, just 100 meters from the beach at Laholmsbukten. It offers free WiFi and modern apartments with kitchen facilities, a flat-screen TV and a private terrace or balcony.
', 1, 0, 1, 1, 0.1, 2, 3, 3, 250, N'https://dl.dropboxusercontent.com/s/u1lm1daiost2vse/Front.jpg?dl=0')
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ID], [StartDate], [EndDate], [TotalPrice], [DateCreated], [FlightID], [HotelID], [GuestID], [FullName], [Street], [Zipcode], [City], [Country], [Phone], [Email], [Status]) VALUES (2, CAST(N'2021-05-01' AS Date), CAST(N'2021-05-01' AS Date), 400, CAST(N'2021-04-28' AS Date), NULL, 2, 45, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Reservations] ([ID], [StartDate], [EndDate], [TotalPrice], [DateCreated], [FlightID], [HotelID], [GuestID], [FullName], [Street], [Zipcode], [City], [Country], [Phone], [Email], [Status]) VALUES (3, CAST(N'2021-02-07' AS Date), CAST(N'2021-02-08' AS Date), 200, CAST(N'2021-03-12' AS Date), NULL, 4, 22, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Reservations] ([ID], [StartDate], [EndDate], [TotalPrice], [DateCreated], [FlightID], [HotelID], [GuestID], [FullName], [Street], [Zipcode], [City], [Country], [Phone], [Email], [Status]) VALUES (4, CAST(N'2021-10-10' AS Date), CAST(N'2021-10-15' AS Date), 800, CAST(N'2021-05-07' AS Date), NULL, 8, 49, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
INSERT [dbo].[ReservationsDetails] ([Adults], [Children], [ExtraBed], [CustomerMessage], [ReservationID], [Type]) VALUES (2, 0, 0, NULL, 2, N'Halvpension')
INSERT [dbo].[ReservationsDetails] ([Adults], [Children], [ExtraBed], [CustomerMessage], [ReservationID], [Type]) VALUES (1, 0, 0, NULL, 3, N'All inclusive')
INSERT [dbo].[ReservationsDetails] ([Adults], [Children], [ExtraBed], [CustomerMessage], [ReservationID], [Type]) VALUES (4, 0, 0, NULL, 4, N'Halvpension')
GO
INSERT [dbo].[ReservedRooms] ([ReservationID], [RoomID], [BookedRooms]) VALUES (2, 2, 5)
INSERT [dbo].[ReservedRooms] ([ReservationID], [RoomID], [BookedRooms]) VALUES (3, 4, 1)
INSERT [dbo].[ReservedRooms] ([ReservationID], [RoomID], [BookedRooms]) VALUES (4, 5, 2)
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ID], [Rating], [Description], [HotelID], [GuestID], [CreationDate]) VALUES (1, 3, N'Very good hotel', 2, 2, CAST(N'2021-01-15' AS Date))
INSERT [dbo].[Reviews] ([ID], [Rating], [Description], [HotelID], [GuestID], [CreationDate]) VALUES (2, 1, N'Very bad hotel', 5, 36, CAST(N'2021-02-10' AS Date))
INSERT [dbo].[Reviews] ([ID], [Rating], [Description], [HotelID], [GuestID], [CreationDate]) VALUES (5, 0, N'string', 2, 14, CAST(N'2020-10-09' AS Date))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([ID], [Type], [Price], [MaxCapacity], [HotelID], [NoOfRooms], [Img]) VALUES (1, N'Single', 500, 1, 2, 5, N'https://dl.dropboxusercontent.com/s/eqsdk8qa666p0g4/Room1.jpg?dl=0')
INSERT [dbo].[Rooms] ([ID], [Type], [Price], [MaxCapacity], [HotelID], [NoOfRooms], [Img]) VALUES (2, N'Double', 800, 2, 2, 5, N'https://dl.dropboxusercontent.com/s/c5q2wm85rhep26d/Room2.jpg?dl=0')
INSERT [dbo].[Rooms] ([ID], [Type], [Price], [MaxCapacity], [HotelID], [NoOfRooms], [Img]) VALUES (3, N'Family', 1200, 4, 2, 5, N'https://dl.dropboxusercontent.com/s/bdxaq1owpr6s2z7/room3.jpg?dl=0')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
INSERT [dbo].[SavedHotels] ([GuestID], [HotelID]) VALUES (1, 2)
INSERT [dbo].[SavedHotels] ([GuestID], [HotelID]) VALUES (1, 4)
INSERT [dbo].[SavedHotels] ([GuestID], [HotelID]) VALUES (2, 4)
GO
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 6/10/2021 1:35:14 PM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accomodation]  WITH CHECK ADD  CONSTRAINT [FK__Accomodat__Hotel__7B5B524B] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([ID])
GO
ALTER TABLE [dbo].[Accomodation] CHECK CONSTRAINT [FK__Accomodat__Hotel__7B5B524B]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK__City__CountryID__60A75C0F] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK__City__CountryID__60A75C0F]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [FK_Hotels_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [FK_Hotels_City]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [FK_Hotels_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [FK_Hotels_Country]
GO
ALTER TABLE [dbo].[Position]  WITH CHECK ADD  CONSTRAINT [FK__Position__HotelI__693CA210] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([ID])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK__Position__HotelI__693CA210]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK__Reservati__Hotel__6C190EBB] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([ID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK__Reservati__Hotel__6C190EBB]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Guests] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guests] ([ID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Guests]
GO
ALTER TABLE [dbo].[ReservedRooms]  WITH CHECK ADD  CONSTRAINT [FK__ReservedR__Reser__6FE99F9F] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservations] ([ID])
GO
ALTER TABLE [dbo].[ReservedRooms] CHECK CONSTRAINT [FK__ReservedR__Reser__6FE99F9F]
GO
ALTER TABLE [dbo].[ReservedRooms]  WITH CHECK ADD  CONSTRAINT [FK__ReservedR__RoomI__70DDC3D8] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([ID])
GO
ALTER TABLE [dbo].[ReservedRooms] CHECK CONSTRAINT [FK__ReservedR__RoomI__70DDC3D8]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK__Reviews__HotelID__73BA3083] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK__Reviews__HotelID__73BA3083]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Guests] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guests] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Guests]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK__Rooms__HotelID__6754599E] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([ID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK__Rooms__HotelID__6754599E]
GO
ALTER TABLE [dbo].[SavedHotels]  WITH CHECK ADD  CONSTRAINT [FK__SavedHote__Hotel__787EE5A0] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([ID])
GO
ALTER TABLE [dbo].[SavedHotels] CHECK CONSTRAINT [FK__SavedHote__Hotel__787EE5A0]
GO
ALTER TABLE [dbo].[SavedHotels]  WITH CHECK ADD  CONSTRAINT [FK_SavedHotels_SavedHotels] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guests] ([ID])
GO
ALTER TABLE [dbo].[SavedHotels] CHECK CONSTRAINT [FK_SavedHotels_SavedHotels]
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
